/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-right: linear-gradient(90deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-bottom: linear-gradient(180deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-left: linear-gradient(270deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-top-right: linear-gradient(45deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-bottom-right: linear-gradient(135deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-top-left: linear-gradient(225deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-bottom-left: linear-gradient(315deg, #95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
$gradient-radial: radial-gradient(#95C9D4ff, #F2BEA6ff, #BE858Cff, #727840ff, #E6B156ff);
*/

/*
  font-weight: 700;
  background: linear-gradient(70deg, #F2BEA6ff,#95C9D4ff, #E6B156ff);
*/

:root {
  --defaultMargin: 17vw;
  --backgroundBlur: url("media/marnie020blurred5.jpg");
  --topImage: url("media/marnie020.jpg");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-left: var(--defaultMargin);
  margin-right: var(--defaultMargin);
  background-color: rgb(16, 16, 16);
  flex-direction: column;
}

header {
  display: flex;
  margin-right: auto;
}

/* Ghibli Logo oben links */
header img {
  margin-left: -120%;
  margin-top: 1vw;
  width: 10vw;
}

.mainImageContainer {
  padding-bottom: 0;
  margin-bottom: -10vw;
}

.mainTitle {
  color: white;
  text-align: center;
  transform: translate(0%, -82%);
}

.mainTitle span {
  font-size: 70pt;
  margin: 0;
}

.italicText {
  font-style: italic;
}

.mainImage {
  margin-top: 2vw;
  height: 50vw;
  display: block;
  width: 89vw;
  border-radius: 4vw 4vw 0px 0px;
  background-image: linear-gradient(0deg, rgba(16, 16, 16, 1) 10%, rgba(16, 16, 16, 0) 70%), var(--topImage);
  background-repeat: no-repeat;
  background-size: 89vw;
  filter: saturate(115%);
}

#description,
#description-bottom {
  display: flex;
  flex-direction: column;
  font-size: 42pt;
  color: white;
  overflow: hidden;
}

#description>p.colored {
  background-image: var(--backgroundBlur);
  background-attachment: fixed;
  background-size: cover;
  background-clip: text;
  filter: brightness(100%);
  filter: saturate(250%);
  -webkit-background-clip: text;
  color: transparent;
}

.size-small {
  font-size: 40pt !important;
  line-height: 160%;
}

.size-mid {
  font-size: 60pt !important;
  line-height: 160%;
}


.wrapper{
  display:flex;
  margin-top: 3vw;
  margin-bottom:3vw;
}

.wrapper .carousel{
  white-space: nowrap;
  cursor:pointer;
  overflow:hidden;
}

.carousel img{
  height:800px;
}


body > div.wrapper > div > img{

  
}

p {
  text-align: justify;
}

#ghibliLogoBig {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ghibliLogoBig>img {
  margin-top: 12vw;
  width: 50%;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 1000


  font-optical-sizing: auto;*/

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}