:root {
  --defaultMargin: 17vw;
  --backgroundBlur: url("media/marnie020blurred5.jpg");
  --topImage: url("media/marnie020.jpg");
  --bgColor: rgba(16, 16, 16, 1);
  --bgColorFade: rgba(16, 16, 16, 0);
  --ffcolorA: rgba(255, 54, 89, 1);
  --ffcolorB: rgba(255, 154, 0, 1);
  --ffcolorC: rgba(103, 218, 193, 1);
  --ffcolorD: rgba(41, 158, 255, 1);

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-left: var(--defaultMargin);
  margin-right: var(--defaultMargin);
  background-color: var(--bgColor);
  flex-direction: column;
  max-width: 100%;

}

header {
  display: flex;
  margin-right: auto;
}

/* Ghibli Logo oben links */
header img {
  margin-left: -120%;
  margin-top: 1vw;
  width: 10vw;
}

.mainImageContainer {
  padding-bottom: 0;
  margin-bottom: -10vw;
}

.mainImage {
  margin-top: 2vw;
  height: 50vw;
  display: block;
  width: 89vw;
  border-radius: 4vw 4vw 0px 0px;
  background-image: linear-gradient(0deg, var(--bgColor) 10%, var(--bgColorFade) 70%), var(--topImage);
  background-repeat: no-repeat;
  background-size: 89vw;
  filter: saturate(115%);
}

.mainTitle {
  color: white;
  text-align: center;
  transform: translate(0%, -82%);
}

.mainTitle span {
  font-size: 70pt;
  margin: 0;
}

.italicText {
  font-style: italic;
}

#description,
#description-bottom {
  display: flex;
  flex-direction: column;
  font-size: 42pt;
  line-height: 135%;
  color: white;
  overflow: hidden;
}

#description>p.colored {
  background-image: var(--backgroundBlur);
  background-attachment: fixed;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: brightness(100%) saturate(250%);
}

/*firefox text webkit background clip fix*/
@-moz-document url-prefix() {
  #description>p.colored {
    background: -moz-linear-gradient(110deg, var(--ffcolorA) 0%, var(--ffcolorB) 50%, var(--ffcolorC) 70%, var(--ffcolorD) 100%);
    background-size: cover;
    background-clip: text;
    color: transparent;
    filter: brightness(100%) saturate(100%);
  }
}

.size-small {
  font-size: 40pt !important;
  line-height: 160%;
}

.size-mid {
  font-size: 60pt !important;
  line-height: 160%;
}

.wrapper {
  display: flex;
  margin-top: 3vw;
  margin-bottom: 3vw;
  /*max-width: 99vw;*/
}

.wrapper .carousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
}

.carousel img {
  height: 36vw;
}


p {
  text-align: justify;
}

#ghibliLogoBig {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ghibliLogoBig>img {
  margin-top: 12vw;
  width: 50%;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}